{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,

  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,

  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",

  "quoteProps": "as-needed",

  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": true,

  "bracketSameLine": false,

  "proseWrap": "preserve",

  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular",
        "printWidth": 120
      }
    },
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
