<footer
  class="footer"
  aria-label="Footer"
>
  <nav
    class="footer__nav"
    aria-label="Rechtliches"
  >
    <span>
      <a
        href="https://www.bbs-haarentor.de/kontakt/datenschutz"
        target="_blank"
        rel="noopener noreferrer"
      >
        Datenschutz
      </a>
    </span>
    <span>
      <a
        href="https://www.bbs-haarentor.de/impressum"
        target="_blank"
        rel="noopener noreferrer"
      >
        Impressum
      </a>
    </span>
    <span>
      <a
        href="mailto:js@bbs-haarentor.de"
        target="_blank"
        rel="noopener noreferrer"
      >
        Kontakt
      </a>
    </span>
  </nav>
  <p class="footer__credits">Made with much 🧠 by Chris, Valdis, Lukas, Alex & Jannik</p>
</footer>
